<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Vendor Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <h1>Vendor Order Details: </h1>

    <h2>@Model["order"].Details</h2>
    <h3>Vendor: @Model["vendor"].Name</h3>

    <a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
    <hr>
    <a href='/orders'>View all items</a>
  </body>
</html>